/* [CONTAINER] */
#tableWrap {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

/* [CELLS] */
div.cell {
  padding: 10px;
}

/* [HEADER] */
div.head {
  background: #005;
  color: #fff;
  font-weight: bold;
}

/* [ALTERNATE ROWS] */
div.alt {
  background: #004;
}

/* [RESPONSIVE TRANSFORM] */
/* NO CELLS - BREAK INTO SINGLE ROW */
@media screen and (max-width: 600px) {
  #tableWrap {
    grid-template-columns: 100%;
  }
  div.cell {
    padding: 5px;
  }
}
